#!/bin/bash
#SBATCH --job-name=semp
#SBATCH --ntasks=1
#SBATCH --cpus-per-task=1
#SBATCH -o {{.Name}}.out
#SBATCH --no-requeue
#SBATCH --mem=1gb

{{range .Inputs -}}
/home/qc/bin/g16b01.sh {{.}}.com
{{end -}}
